/*.udeb
/base
/installer/upstream
*.debhelper.log
*.debhelper
*.substvars
debhelper-build-stamp
/*/debian/files
/ap6212-firmware-di/debian/ap6212-firmware-di/
/image/debian-installer-nanopi.img
/image/tmp/
/kernel-di/boot/
/kernel-di/debian/kernel-image-4.11.6+-di/
/kernel-di/debian/nic-modules-4.11.6+-di/
/kernel-di/lib/
/kernel-di/tmp/
/nanopi-bluetooth/debian/nanopi-bluetooth/
/nanopi-bluetooth/var/
/nanopi-bootable/debian/nanopi-bootable/
/nanopi-bootable/var/
/ubootenv/ubootenv
/ubootimg/boot.img
