Source: nanopi-bluetooth
Maintainer: Rafaello7 <fatwildcat@gmail.com>
Build-Depends: debhelper (>= 9)
Priority: standard

Package: nanopi-bluetooth
Architecture: arm64
Section: debian-installer
Depends: ${misc:Depends}, bootstrap-base
XB-Installer-Menu-Item: 6800
Package-Type: udeb
Description: Installs bluetooth support package on target
