Source: ap6212-firmware-di
Maintainer: Rafaello7 <fatwildcat@gmail.com>
Build-Depends: debhelper (>= 9)
Priority: standard

Package: ap6212-firmware-di
Architecture: all
Section: debian-installer
Priority: standard
Package-Type: udeb
Description: Firmware for ap6212
